EXPO_PUBLIC_SB_API_REST_URL=https://vdtxbkiusweyhxukuwhr.supabase.co/rest/v1
EXPO_PUBLIC_SB_API_GQL_URL=https://vdtxbkiusweyhxukuwhr.supabase.co/graphql/v1
EXPO_PUBLIC_SB_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZkdHhia2l1c3dleWh4dWt1d2hyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTEwNDM1NTIsImV4cCI6MjAyNjYxOTU1Mn0.qCl3p00fGKTSDylY_j3c9oht1s1Y6NPREWkjYPrkZ9g